{% extends '_base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
    {% for category, message in messages %}
    <div class="alert {{ category }}">
        {{ message }}
    </div>
    {% endfor %}
{% endif %}
{% endwith %}
<div class="login-container">
    <h1>Login</h1>
    <form method="post" class="login-form">
        {{ form.hidden_tag() }}
        
        <label for="email">Email:</label>
        {{ form.email(class_='form-input') }}
        
        <label for="password">Password:</label>
        {{ form.password(class_='form-input') }}

        {{ form.submit(class_='btn-submit') }}
    </form>
    <p class="redirect-register">
        Don't have an account? <a href="{{ url_for('registerpacient') }}">Register as Patient</a> or <a href="{{ url_for('registerdoctor') }}">Register as Doctor</a>
    </p>
</div>
{% endblock %}
