{% extends '_base.html' %}

{% block title %}Register Patient{% endblock %}

{% block content %}
<div class="container-log-reg">
    <h1>Register a Patient</h1>
    <div class="article-detail">
        <form method="POST" enctype="multipart/form-data" class="register-login">

            {{ form.hidden_tag() }}

            <label for="firstname">{{ form.firstname.label }}</label>
            {{ form.firstname(class_='form-input') }}

            <label for="lastname">{{ form.lastname.label }}</label>
            {{ form.lastname(class_='form-input') }}

            <label for="email">{{ form.email.label }}</label>
            {{ form.email(class_='form-input') }}

            <label for="telnum">{{ form.telnum.label }}</label>
            {{ form.telnum(class_='form-input') }}

            <label for="description">{{ form.description.label }}</label>
            {{ form.description(class_='form-textarea', cols=50, rows=5) }}
            <label for="profile_image">{{ form.profile_image.label }}</label>
            {{ form.profile_image }}
            <label for="password">{{ form.password.label }}</label>
            {{ form.password(class_='form-input') }}

            <label for="password_confirm">{{ form.password_confirm.label }}</label>
            {{ form.password_confirm(class_='form-input') }}

            {{ form.submit(class_='btn-submit') }}
        </form>
        <p class="redirect-login">
            Already have an account? <a href="{{ url_for('login') }}">Log in here</a>
        </p>
    </div>
</div>
{% endblock %}
