<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="C:\Users\kubop\Documents\School\3.Rocnik\Programovanie\ZochovaMed\static\css\styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="toolbar">
            <div class="toolbar-l">
                <p>Home</p>
            </div>
            <div class="toolbar-r">
                <p>About</p>
                <p>Contact</p>
                <p>Login</p>
                <p>Register</p>
            </div>
        </div>

        <div class="main">
            <p>main</p>
        </div>

        <div class="footer">
            <p>footer</p>
        </div>
    </div>
</body>
</html>